.dev.vars
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.next
.open-next
.pnp
.pnp.js
.vercel
.wrangler
*.pem
build
cloudflare-env.d.ts
coverage
next-env.d.ts
node_modules
npm-debug.log*
out
